body{
	background-image: url('sfondo.webp');
	background-size: cover;
	background-repeat: no-repeat;
	height: 100vh;
	width: 100vw;
	// overflow: hidden;
}

.finestra{
	width: 80%;
	margin: auto;
	background-color: #ffd;
	border-radius: 8px;
}

.barra{
	display: flex;
	gap: 16px;
	justify-content: flex-end;
	background-color: #2257D6;
	padding: 12px;
	border-radius: 8px;
}          
.titolo{
	padding: 32px;
}