body{
	background-image: url('sfondo.webp');
	background-size: cover;
	background-repeat: no-repeat;
	height: 100vh;
	width: 100vw;
}

.finestra{
	width: 80%;
	margin: auto;
	background-color: #fff;
	border-radius: 8px;
}

.barra{
	display: flex;
	gap: 16px;
	justify-content: flex-end;
	background-color: #2257D6;
	padding: 12px;
	border-radius: 8px;
}          
.titolo{
	padding: 32px;
}

.immagini{
	display: flex;
	padding: 32px;
	gap: 30px;
}
.immagine{
	max-height: 250px;
}
.immagine img{
	height: 100%;
	width: 100%;
}
.testo{
	padding: 32px;
}